form(
  [formGroup]="userDetails"
  (ngSubmit)="onSubmit()"
  )
  h4 Your Details

  // Name
  .form-group.row
    .col-sm-4
      label.mb-0.center-block Name:
    .col-sm-8
      input.form-control(formControlName="name")

  // Email
  .form-group.row
    .col-sm-4
      label.mb-0.center-block Email:
    .col-sm-8
      input.form-control(formControlName="email")

  // Submit
  .row
    .col-sm-2
    .col-sm-8
      input.btn.btn-success.btn-block(
        type="submit"
        value="Continue To Delivery Details"
      )