.container
  .row
    .col-sm-2
    .col-sm-8

      .pt-5.pb-4
        h3 Angular Checkout
        hr

      form([formGroup]="checkoutForm")
        app-user-details(
          (whenChanged)="whenUserDetailsChange($event)"
          (whenValidSubmit) = "whenUserDetailsValidSubmit($event)"
          [checkoutForm]="checkoutForm"
          )
