
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset xs-2">
      <div class="pt-5 pb-4">
        <h3>Angular Checkout</h3>
        <hr>
      </div>
      <form [formGroup]="checkoutForm" (ngSubmit)="submitCheckout()">
        <app-user-details (whenChanged)="whenUserDetailsChange($event)" (whenValidSubmit)="whenUserDetailsValidSubmit($event)" [checkoutForm]="checkoutForm"></app-user-details>
        <div class="row">
          <div class="col-sm-8 offset-sm-2 pt-4">
            <input class="btn btn-primary btn-block" type="submit" value="Add to Basket">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>