header
  h1 This is a pretty cool way of doing this
  input(
    [(ngModel)]="Name here"
  )
  h1 Hello #{t('something.cool.here')}!
  h2 Also allows full a(href="")
  h3 Hello #{t('we.dont.have.this.one')} Yet, but we could do soon
  input
