
<div class="container pt-4">
  <div class="row" *ngIf="purchase.orders$ | async; let orders;">
    <!-- Aside-->
    <div class="col-sm-4">
      <div class="card mb-4" *ngIf="(((user$ | async)?.hasPurchased || (user$ | async)?.loggedIn) || orders.length)">
        <div class="card-header">Hello {{ (user$ | async)?.name }}!</div>
      </div>
      <div class="card" *ngIf="orders.length">
        <div class="card-header">
          Basket&nbsp; (<span>{{ orders.length }}</span>&nbsp; Items )</div>
        <ul class="list-group" *ngIf="orders.length">
          <div class="list-group-item" *ngFor="let order of orders; index as i">{{i}} - {{order.name}} {{order.id}}</div>
        </ul>
        <div class="pt-4" *ngIf="orders.length">
          <input class="btn btn-success btn-block" (click)="checkout()" type="button" value="Purchase">
          <input class="btn btn-warning btn-block" (click)="updateLastOrder()" type="button" value="Update the last order">
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <h3>Angular Checkout</h3>
      <hr>
      <form [formGroup]="checkoutForm" (ngSubmit)="submitCheckout()">
        <app-user-details *ngIf="!orders.length &amp;&amp; !(user$ | async)?.hasPurchased" (whenValidSubmit)="whenUserDetailsValidSubmit($event)" [checkoutForm]="checkoutForm"></app-user-details>
        <div class="row">
          <div class="col-sm-8 offset-sm-2 pt-4">
            <input class="btn btn-primary btn-block" type="submit" value="Add to Basket">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>