header
  h1 Yep, all good, I think! Are we sure, yes we are woop
  h1 Hello #{t('something.cool.here')}!
  h2 Also allows full a(href="") here and here ready woop too and now
  h3 Hello #{t('we.dont.have.this.one')} Yet, but we could do soon
  input(
    type="text"
  )
