.container
  .row
    .col-sm-2
    .col-sm-8

      .pt-5.pb-4
        h3 Angular Checkout
        hr

      form(
        [formGroup]="userDetailsForm"
      )
        h4 Your Details

        // Name
        .form-group.row
          .col-sm-4
            label.mb-0.center-block Name:
          .col-sm-8
            input.form-control(
              formControlName="name"
            )

        // Email
        .form-group.row
          .col-sm-4
            label.mb-0.center-block Email:
          .col-sm-8
            input.form-control(
              type="email"
              formControlName="email"
            )
